.container{
  width: 1024;
  margin: 0 auto;
}

body {
    background: #f1f1f1;
  }

h2 {
    color:turquoise;
}

h3 {
    color: turquoise;
}

#heading {
    padding: 20px;
    color:#f1f1f1;
    margin-right: 10px;
    margin-left: 10px;
    background: turquoise;
    size: 50px;
    font-family:'Courier New', Courier, monospace;
}

.navbar {
  padding: 10px;
  background: gray;
}

.nav {
    margin-left: 300px;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 3px;
  }

  .navbar li a {
    color: #000;
    text-decoration:none;
    text-align:center;
    font-family:'Courier New', Courier, monospace
    
  }

  .background {
      background: white;
      margin-top: 20px;
      margin-left:0px;
      margin-right:0px;

  }

  #nav-select {
    visibility:hidden;
  }

  

  .main {
    float: left;
    width: 60%;
    padding:20px;
  }

  .figure {
    position:relative;
  }

  .image_main {
    width: 300px;
    height: 250px;
    margin-right:20px;
    float: left;
    border: 1px solid blue;
  }

  .side {
    width: 38%;
    float: right;
    padding:20px;
  }

  .box_set {
    position:relative;
    height:500px;
    background:yellowgreen;
  }

  .image {
    position:absolute;
    width: 100px;
    height: 100px;
    padding:10px; 
  }

  #image-1 {
    left:10px;
    top:80px;
  }

  #image-2 {
    bottom:10px;
    left: 10px;
  }

  #image-3 {
    top:80px;
    right:10px;
  }

  #image-4 {
    bottom:10px;
    right:10px;
  }


  @media (max-width: 770px) {
    .navbar ul{
      visibility: hidden;
    }
  
    #nav-select{
      visibility:visible;
    }
  
    .main {
      width:100%;
    }
    .side {
      width: 100%;
    }