.container{
  width: 1024;
  margin: 0 auto;
}

body {
    background: #f1f1f1;
  }

h2 {
    color:turquoise;
}

h3 {
    color: turquoise;
}
h4 {
  color:turquoise;
  text-align:center;
}

#heading {
    padding: 20px;
    color:#f1f1f1;
    margin-right: 10px;
    margin-left: 10px;
    background: turquoise;
    size: 50px;
    font-family:'Courier New', Courier, monospace;
}

#latitude {
  font-family:'Courier New', Courier, monospace;
  font-size: 40px;
}

.nav {
    background:turquoise;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 3px;
  }

  .navbar li a {
    color: #000;
    text-decoration:none;
    text-align:center;
    font-family:'Courier New', Courier, monospace
    
  }

  .background {
      background: white;
      margin-top: 20px;
      margin-left:0px;
      margin-right:0px;

  }

  #drop-hide {
    visibility:hidden;
  }

  

  .main {
    float: left;
    width: 60%;
    padding:10px;
  }

  
  

  .image_main {
    position:relative;
    width: 350px;
    height: 250px;
    margin-right:20px;
    float: left;
    border: 1px solid blue;
  }

  .side {
    width: 30%;
    float: right;
    padding:20px;
  }

  .box_set {
    position:relative;
    height:500px;
    width:441px;
    background:yellowgreen;
  }

  .image {
    position:absolute;
    width: 200px;
    height: 200px;
    padding:10px; 
  }

  .image-highlight {
    position:absolute;
    width: 200px;
    height: 200px;
    padding:10px; 
    border: 3px solid blue;
  }

  #image-1 {
    left:10px;
    top:80px;
  }

  #image-2 {
    bottom:10px;
    left: 10px;
  }

  #image-3 {
    top:80px;
    right:10px;
  }

  #image-4 {
    bottom:10px;
    right:10px;
  }

  .comparison {
    margin: 0 auto;
    padding:10px;
    position:relative;
    
    height:auto;
    width: 70%;
    background:yellowgreen;
  }

  .comp_image {
    position:relative;
    
    width: 300px;
    height: 250px;
    padding:10px; 
  }

  #comp_image-1 {
    
    left:50px;
    top:10px;
  }

  #comp_image-2 {
    top:10px;
    left:50px;
  }

  #comp_image-3 {
    top:10px;
    left:50px;
  }

  #comp_image-4 {
    top:10px;
    left:50px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }


  @media (max-width: 770px) {
  /* .navbar ul{
    visibility: hidden;
  } */
  
  #drop-hide{
    visibility:visible;
    position:absolute;
    top:40px;
    right:40px;
  }
  
  .main {
    width:100%;
  }

  .side {
    width:100%;
  }

  .navbar {
    height: 110px;
    background:turquoise;
  }
    
  